*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.color-blue{
    color: rgba(0,51,102,255);
}
.bg-personal-light{
    background-color: #f2f2f2
}

.text-personal-light{
    color: #f2f2f2
}
.bg-blue{
    background-color: rgba(0,51,102,255);
}
.border-blue{
    border-bottom: 0.5px solid rgba(0,51,102,255);
}
.border-blue-full{
    border: 0.5px solid rgba(0,51,102,255);
}

.border-light-full{
    border: 1px solid #ffffff;
}
.nav-link{
    font-size: 13px;
}
#gotovac-logo{
    width: 160px;
}
.navbar-toggler-icon i {
    font-size: 31px;
}

.navbar-toggler:focus {
    outline : none;
}
main {
    min-height: 92vh
}
footer {
    background-color: rgba(0,51,102,255);
    border-top: 0.5px solid #ffffff;

}
footer p{
    font-size: 13px;
}
.setHeight{
    min-height: 92vh;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgba(0,51,102,255) !important;
    border-color: rgba(0,51,102,255) !important ;
}
.withoutStricke{
    text-decoration: none !important;
}
.small-text{
    font-size: 13px;
}
.file-small-text{
    font-size: 18px !important;
}
.down-margin{
    margin-top:6.8px;
}

.border-blue button {
    font-size: 13.5px;
}
.border-blue label {
    font-size: 14px;
}
.options{
    padding: 150px 0px ;
    background-color: rgba(0,51,102,255);
    color:#f2f2f2 ;
    transition: 0.8s ease;
    width: 100%;
    cursor: pointer;
}
.options:hover{
    background-color:#f2f2f2 ;
    color:rgba(0,51,102,255) ;
    border: 1px solid rgba(0,51,102,255);
    transition: 1s ease;
}

.table-text-size tr th{
    text-align: center;
    vertical-align: middle;
}
.table-text-size tr td{
    border-right: 1px solid #f2f2f2 !important;
    text-align: center;
    vertical-align: middle;
}
.search-font-size label{
    font-size: 11px;
    margin-left: 12px;
}
.search-font-size input{
    font-size: 12px !important;
}
.type{
    font-size: 11px !important;
}
.search-font-size ::placeholder{
    font-size: 11px;
}

.add-form-modal ::placeholder {
    font-size: 12px;
}
.add-form-modal label{
    font-size: 12px;
    margin-left: 12px;
}
.add-form-modal input{
    font-size: 12px ;
}
.search-font-size-modal label{
    font-size: 12px;
}
.search-font-size-modal input{
    font-size: 12px !important;
}
.search-font-size-modal ::placeholder{
    font-size: 12px;
}
.activation{ overflow: auto; }
.vs__search{
    padding:0.1rem  0.75rem !important;
}

.vs__dropdown-menu{
    font-size: 12px !important;
    border-top:  1.5px solid #f2f2f2 !important;
}
.vs__dropdown-menu li {
   padding:4.5px 0px 4.5px 12px !important;
}


.vs__selected{
    font-size: 12px !important;
    padding-left: 7.5px !important;
}
.choose a{
    text-decoration: none;
}
.table-cursor td{
    cursor: pointer;
}
.table-cursor th{
    cursor: default;
}
.fa-arrow-circle-o-right{
    font-size: 15px;
}
.type-div-size{
    width: 50%;
    cursor: pointer;
}
.type-div-size:first-child{
    width: 100%;
    cursor: pointer;
}
.type-div-size:hover{
    /*width: 100%;*/
    /*background-color: rgba(0,51,102,255);*/
    /*color: #ffffff;*/
}

.type-div-size span{
    font-size: 13px;
}
.vm--modal {
    height: auto !important;
    overflow-x: auto;
}
.ql-editor p {
    font-style: normal;
    font-size: 12px;
}
.ql-editor , .ql-toolbar  {
    background-color: #ffffff;
}
.fa-times{
    cursor: pointer;
}
.vs__no-options{
    color: #ffffff !important;
}
.mx-datepicker{
    width: 100% !important;
}
.mx-calendar , .mx-calendar-panel-date{
    width: 310px !important;
}
.mx-table-date div{
    font-size: 14px !important;
}
.mx-input{
    padding: .375rem .75rem !important;
}
.bg-white{
   background-color: #ffffff;
}
.border-right-black tr td{
    border-right: 2px solid #f2f2f2 !important;
}
.fc-header-toolbar , .fc-toolbar {
    background-color:rgba(0,51,102,255) !important;
    padding: 0px !important;
    margin: 0px !important
}
.fc-col-header .fc-scrollgrid-sync-inner{
    background-color: rgba(0,51,102,255) !important;
    color: #ffffff !important;
    padding: 11px 0px;
}
.fc .fc-daygrid-day.fc-day-today {
    background-color: #f2f2f2 !important;
    text-transform: uppercase;
}
.fc-toolbar-title{
    color: #ffffff !important;
    padding: 10px 0px;
    padding-left: 10px;
    text-transform: uppercase;
}
.fc-button , .fc-button-primary{
    background-color: #f2f2f2 !important;
    color: rgba(0,51,102,255) !important;
    text-transform: uppercase !important;

}
.fc-col-header-cell-cushion{
    text-transform: uppercase !important;
}
.fc-scrollgrid-sync-table .fc-scrollgrid-sync-inner:hover{
    background-color: #bfbfbf !important;
    color: #ffffff !important;
    cursor: pointer;
}
.type-div-size-back{
    width: 100%;
    cursor: pointer;
}

.type-div-size-back:first-child{
    width: 100%;
    cursor: pointer;
}



.type-div-size-back span{
    font-size: 14px !important;
}
.error-danger{
    text-transform: uppercase;
    font-size:11px;
}
.page-item .number  {
    color: rgba(0,51,102,255) !important;
}
.page-item.active .number  {
    background-color: rgba(0,51,102,255) !important;
    color: #ffffff !important;
}

.page-item:first-child .one{
    color: rgba(0,51,102,255) !important;
}
.page-item:last-child .one{
    color: rgba(0,51,102,255) !important;
}
.page-item .page-link{
    padding: 0.7rem 0.85rem;
}


.paginationScroll {
    overflow-x: auto;
    white-space: nowrap;
}

